.profile__image {
    background-repeat: no-repeat;
    border-radius: 50%;
    height: 120px;
    width: 120px;
}

@media screen and (max-width: 650px) {
    .profile__image {
        margin: 0 auto;
    }
    
}