.element__title {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    max-width: 282px;
    margin-top: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}